.md-main {
    margin: 0;
    padding: 0;
    background-color: #051122;
    background-image: url(https://static.tibia.com/images/global/header/background-artwork.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}